body{
    font-family: Arial, sans-serif;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background: #211F1F;
}


.login-contenedor{
    border: 2px solid powderblue;
    width: 90%; 
    max-width: 400px; 
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


h2{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}


input{
    display: block; 
    width: 100%;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
    border: none;
    text-align: center;
    outline: none;
}

p{
    display: inline-block;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}

p2{
    display: inline-block;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

p2:hover{
    color: white;
    transform: scale(1.03);
}


button {
    background-color: blue;
    color: white;
    display: block; 
    width: 30%;
    margin: 0 auto;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

a {
    display: block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 20%;
    height: 20px;
    padding: 10px;
    text-align: center;
}

button:hover{
    background-color: #2980b9;
    transform: scale(1.03);
}







